/*  general styling */
html {
    scroll-behavior: smooth;
    background-color: #ebe6df;
    @font-face {
        font-family: Vanity-Light;
        src: url(font/Vanity-Light.ttf);
    }
    
}
    
/*  Body */
body {
    margin: 0%;
    opacity: 1;
    transition: 3s;
    letter-spacing: 3s opacity;
    font-family: Vanity-Light;
    font-size: 1.5vw;
    overflow-x: hidden;
    user-select: none;
}

body.fade-out {
    opacity: .1;
}

/* Paragraph elements */
p {
    font-family: Vanity-Light;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: white;
}


/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center;
}


/* Anchor elements */
a {
    color: #0f4444;
    cursor: pointer;
    text-decoration: underline;
    font-family: Vanity-Light;
}

/* Quotation elements */
div.qoute {
    color: #6e7e74;
    font-size: medium;
    text-align:center;
    height: 300px;
    width: 550px;
    font-display: block;
    font-family: Vanity-Light;
    margin-top: 50px;
    line-height: 30px;
}

q {
    font-style: italic;
    color: #6e7e74;
    font-family: Vanity-Light;
    font-size: xx-large;
    
    
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 1%;
    background-color: #8D9692;
    font-family: Vanity-Light;
    margin: 0;
}

/***** END OF GENERAL STYLING *****/
/***** NAVBAR STYLING *****/

.Navbar {
    overflow: hidden;
    background-color: #8D9692;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
    color: #C4A286;
    list-style: none;
    padding: 0%;
    margin: 0;
    margin-top: 0px;
    float: left;
}

.Navbar li {
    display: inline;
    position: relative;
    float: left;
    padding: 0 15px;
}

.Navbar li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: '';
    height: 100%;
    background-color: #C4A286;
}

.Navbar li:last-child::after {
    width: 0;
}


/* moveNav animation effect for moving the nav bar in from the left of the screen 
@keyframes moveNav {
    from { left: -100vw; }
    to { left: 0vw;}
}
*/
/* Navbar links */
.Navbar a{
    float: left;
    display: block;
    color: #C4A286;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: Vanity-Light;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 3.75s;
    animation: moveNavText 3.75s;
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from { top: -100vw; }
    to { top: 0vw;}
    
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        font-size: 12px;
    }
    
}

/* Navbar hover effects */
.Navbar a:hover {
    color: rgb(10, 70, 75);
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in;
}

/* Navbar home button */
.Navbar a.active {
    background-color: #8d9692;
}

/***** END OF NAVBAR STYLING *****/

/* Meghan Gordon Headshot & about info section */ 
.about_info {
    padding: 80px;
    text-align: center;
    margin: 10px;

}

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* {
    box-sizing: border-box;
    font-family: Vaninty-Light;
}

.Column_1 {
    float: right;
    width: 50%;
    padding: 20px;
    border-radius: 50px;
    height: 300px;
    width: 500px;
    border-radius: 50px;
    font-family: Vanity-Light;
    line-height: 50px;
    margin-right: 50px;
}

.about_box {
    border-radius: 25px;
    background-color: #c0bca9;
    padding: 20px;
    width: 550px;
    height: 350px;
    font-display: block;
    line-height: 50px;
    font-family: Vanity-Light;
    font-size: xx-large;
    margin-top: -25%;
}


@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
    
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 0%;
    background-color: #ebe6df;
    color: #0f4444;
    font-family: Vanity-Light;
}

.Column_3 {
    float: left;
    width: 40%;
    padding: 20px;
    border-radius: 50px;
    height: 300px;
    width: 500px;
    border-radius: 50px;
    font-family: Vanity-Light;
    line-height: 45px;
    margin-left: 50px;
}

.about_box2 {
    margin-top: 1%;
    border-radius: 25px;
    background-color: #c0bca9;
    padding: 20px;
    width: 900px;
    height: 400px;
    font-display: block;
    line-height: 50px;
    font-family: Vanity-Light;
    font-size: xx-large;
    margin: 50px;
}

/* spacing after 'about me' section*/
.Row:after {
    content: "";
    display: table;
    clear: both;
}

 .Column_4{
    float: right;
    width: 35%;
    padding: 20px;
    border-radius: 50px;
    border-radius: 50px;
    font-family: Vanity-Light;
    line-height: 50px;

}

.Column_5 {
    float: right;
    width: 50%;
    margin: -50px;
    margin-top: 200px;
}

.Column_6 {
    float: left;
    width: 50%;
    margin: 100px;
    border-radius: 25px;
    background-color: #6e7e74;
    padding: 30px;
    width: 550px;
    height: 500px;
    font-display: block;
    line-height: 50px;
    font-family: Vanity-Light;
    font-size: xx-large;
    color: white;
    text-align: center;
}

h3 {
    color: white;
    margin-top: auto;
}

.project-card {
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 20px #8d9692;
    border-radius: 30px;
    margin: 30px;
    background-color: #8d9692;
    justify-content: center;
    font-size: 25px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

img.project-image {
    align-items: center;
}

.project-image {
    margin-top: 0px;
    height: 200px;
    width: 200px;
}
.sub-section-alternative {
    display: flex;
    flex-direction: column;
    padding: 80px;
    text-align: center;
    color: #0f4444;
}

.sub-section-alternative::after {
    content: "";
    display: table;
    clear: both;
}


.subtext {
    font-size: 15px;
    font-weight: 300;

}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/
.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 20vw;
    height: 8vw;
    background-color: #0f4444;
    color:#C4A286;
    border: solid #C4A286;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
    
}

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}


/* styling for contact form*/


.form-popup {
    z-index: 8;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container {
    max-width: 49vw;
    padding: 1vw;
    background-color: white;
}


.form-container input[type=text] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: whitesmoke;
    font-size: 1vw;
}

button {
    font-family: Vanity-Light;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: #C4A286;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: #0f4444;
}

.form-container .btn {
    background-color: #6e7e74;
    color: #C4A286;
    border-color: #0f4444;
    margin-bottom: 1vh;
}

.form-container .cancel {
    background-color: #6e7e74;
    color: #C4A286;
    border-color: #0f4444;
}

.form-container .cancel:hover {
    color: white;
    background-color: #C4A286;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    border-color: #0f4444;
}


/***** CONTACT FORM STYLING *****/
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Vanity-Light;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #0f4444 inset;
}

/* Submit button */
input[type=submit] {
    background-color: ;
    color: #C4A286;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Vanity-Light;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(43, 107, 96);
    transform: scale(1.5);
    transition: transform 1.5s;
}

/* Form element */
form { 
    border-radius: 5px;
    background-color: #C4A286;
    padding: 10px;
    font-family: Vanity-Light;
}

@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}




@media screen and (max-width: 1080px) {
    .Navbar a {
        width: 20%;
        /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote {
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }

    .Column_2 {
        height: 550px;
    }
    
    .Column_3 { 
        height: 550px;
    }
    
    .Column_4 {
        height: 550px;
    }

    .Column_5 {
        height: 550px;
    }

    .Column_6 {
        height: 550px;
    }


}

@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}


