/*TABLE AND CANVAS*/
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid teal;
    padding: 0%;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}